/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

/* Style Guide Consistent Colors */
.testimonial-card {
  border: 1px solid #E5E7EB;
  max-width: 320px;
  margin: 0 auto;
}

.author-name {
  color: #171717 !important;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 1.4;
}

.author-handle {
  color: #525252 !important;
  font-size: 12px !important;
  line-height: 1.4;
}

.testimonial-text {
  color: #525252 !important;
  font-size: 14px !important;
  line-height: 1.5;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
